{% extends 'base.html' %}

{% block content %}
<div class="dashboard-container">
    
    <!-- Menu e Informações do Usuário -->
    <aside>
        <div class="user-card">
            <p>Bem-vindo(a),<br><strong>Ezequias</strong></p>
        </div>

        <nav class="menu-acoes">
            <ul>
                <li><a href="#">Cadastrar Matérias</a></li>
                <li><a href="#">Consultar Matérias</a></li>
                <li><a href="#">Calendário</a></li>
            </ul>
        </nav>
    </aside>

    <!--Painel Central -->
    <section class="panel-materias">
        <h2>Painel de Informações</h2>
        <p>Resumo das suas matérias, cronograma e pendências aparecerão aqui em breve.</p>
    </section>

</div>
{% endblock %}