{% extends 'base.html' %}

{% block content %}
<section class="dashboard-box">
    <div class="user-info">
        <p><strong>Usuário:</strong> Ezequias</p>
    </div>

    <div class="panel-materias">
        <h2>Painel</h2>
        <p>Com as informações sobre as matérias.</p>
    </div>

    <nav class="menu-acoes">
        <ul>
            <li><a href="#">Cadastrar Matérias</a></li>
            <li><a href="#">Consultar Matérias</a></li>
            <li><a href="#">Calendário</a></li>
        </ul>
    </nav>
</section>
{% endblock %}